@import url('https://fonts.googleapis.com/css?family=Raleway|Righteous&display=swap');

:root {
  --font1: 'Righteous', sans-serif;
  --font2: 'Raleway', sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body,
#app {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgba(255, 245, 205, 0.8);
  background-blend-mode: screen;
}

::-webkit-scrollbar-track {
  background-color: rgba(255, 245, 205, 0.8);
  background-blend-mode: screen;
}

.sunset {
  background-color: #ffe53b;
  background-image: -webkit-linear-gradient(147deg, #ffe53b 0%, #ff2525 74%);
  background-image: -moz-linear-gradient(147deg, #ffe53b 0%, #ff2525 74%);
  background-image: -o-linear-gradient(147deg, #ffe53b 0%, #ff2525 74%);
  background-image: linear-gradient(147deg, #ffe53b 0%, #ff2525 74%);
}
